<div class='row'>
  <div class='col-md-4 col-md-offset-4 text-center'>
    <h1>Listing all articles</h1>
  </div>
</div>

<div align="center">
  <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
  <%= will_paginate %>
</div>
