.article_show_title {
  padding-left: 19px;
}

.article_title {
  font-weight: bold;
  font-size: 18px;
}

.article_body {
  border-top: 1px solid #EAEAEA;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article_actions {
  border-top: 1px solid #EAEAEA;
  padding-top: 5px;
}

.article_meta_details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.description {
  margin-top: 0;
}
