<div class='container'>
  <footer>
    <small>
      Copyright &copy;
      <%= link_to 'Jason Tam', 'https://jzntam.github.io' %>
    </small>
    <nav>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'About', about_path %>
    </nav>
  </footer>
</div>
